body{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;  
    width: 100vw;
    height: 100vh;
}
.Calculator-area{
    background-color: black;
}
.btn{
    height: 75px;
    width: 75px;
    margin: 15px;
    font-size: 50px;
    color: aliceblue;
}
.btn:hover{
    background-color: greenyellow;
}

.number{
    border: 1px solid black;
    border-radius: 10px;
    background-color: gray;
    
}

.clear {
    border: 1px solid white;
    background-color: orange;
}

.operation {
    border: 1px solid white;
    background-color: orange;

}

.result{
    border: 1px solid black;
    background-color: blueviolet;
}

.decimal{
    border: solid 1px black;
    background-color: blueviolet;
}

.input-field{
    height: 75px;
    width: 300px;
    border: solid 1px ;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.first-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.firstNum{
    font-size: 20px;
    color: white;
}

.secondNum{
    font-size: 30px;
    color: white;
}
